@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background-color: #141414;
    color: #c2af87f1;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --table-outline: #cf89394f;
    --main-border-color: #333;
}


::selection {
    background-color: #ffad69c0; /* Цвет фона выделения */
    color: #2e2e2e; /* Цвет текста при выделении */
}

.container {
    max-width: max-content;
    margin: auto;
}

/* Scrollbar styles for .tablebox */
.tablebox::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.tablebox::-webkit-scrollbar-track {
    background: #1b1b1b;
}

.tablebox::-webkit-scrollbar-thumb {
    background-color: #dbdbdb1e;
    border-radius: 20px;
    border: 3px solid #181818;
}

/* Scrollbar styles for body */
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #141414;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffd4843b;
    border-radius: 20px;
    border: 2px solid #2e1e0f;
}

/* Стили для выпадающего списка */
.card select {
    padding: 8px;
    margin-left: 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #313131;
    background-color: #1b1b1b;
    color: #c2af87f1;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none;
}

/* Стили для опций в выпадающем списке */
.card select option {
    background-color: #1b1b1b;
    color: #c2af87f1;
    border-radius: 10px;
    border: 2px solid #313131;
}

.card {
    padding: 15px 25px;
    background: #1b1b1b;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 3px solid;
}

.ChangeThemeBlock {
    border-color: #313131;
    box-shadow: 0 0 30px #50505052;
    color: #c2af87f1;
}
.LinkBlock {
    border-color: #313131;
    box-shadow: 0 0 30px #50505052;
    color: #c2af87f1;
    a:hover {
        text-decoration:underline;
    }
    a:active {
        color: #e6d7b6f1;
    }
    a{
        text-decoration: none;
        color: #c2af87f1;
    }
}
.CodeBlock {
    border-color: #313131;
    box-shadow: 0 0 30px #50505052;
    color: #c2af87f1;
}
.OutputBlock {
    border-color: #313131;
    box-shadow: 0 0 30px #50505052;
    color: #c2af87f1;
}
.TheoryBlock {
    border-color: #313131;
    box-shadow: 0 0 30px #50505052;
    color: #c2af87f1;
}

pre code.python {
    display: block;
    padding: 10px 30px;
    margin: 0;
    overflow-x: auto;
    border-radius: 10px;
    background-color: #0e0e0e;
    font-size: 17px;
    text-align: left;
}
pre code.hljs
{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #c7c7c7;
}
.debug code.hljs .hljs-number,
.debug code.hljs .hljs-bullet,
.debug code.hljs .hljs-symbol
{
    color: #c7c7c7 !important;
}

#FirstHeader {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.list {
    padding: 0 20px;
}

.list li {
    margin-bottom: 5px;
}

/* Table Styles */
.tablebox {
    overflow-x: auto;
}
.table {
    width: max-content;
    border-collapse: separate;
    border: 3px solid var(--table-outline);;
    border-radius: 15px;
    overflow: hidden;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #1d1d1d;
    font-size: 14px;
    color: #a78fe3;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    color: #9cb6ff;
}
.table tbody tr:nth-child(odd) {
    background: #2c2c2c;
}
.table tbody tr:nth-child(even) {
    background: #1d1d1d;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 80%;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 25px;
    }

    body {
        font-size: 22px;
    }
    pre code.python {
        font-size: 20px;
    }
}

@media screen and (max-width: 998px) {
    .container {
        max-width: 90%;
    }

    h1,
    h2 {
        font-size: 26px;
    }

    body {
        font-size: 18px;
    }
    pre code.python {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 99%;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 21px;
    }

    body {
        font-size: 17px;
    }
    pre code.python {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 99%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    body {
        font-size: 15px;
    }
    pre code.python {
        font-size: 13px;
    }
}