@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #0f0824;
    color: #b29dfd;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
}

:root {
    --table-outline: #cf39cf4f;
    --main-border-color: #333;
}


::selection {
    background-color: #a369ffc0; /* Цвет фона выделения */
    color: #fffd6c; /* Цвет текста при выделении */
}

.container {
    max-width: max-content;
    margin: auto;
}

/* Scrollbar styles for .tablebox */
.tablebox::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.tablebox::-webkit-scrollbar-track {
    background: #190f2e;
}

.tablebox::-webkit-scrollbar-thumb {
    background-color: #b258fc1e;
    border-radius: 20px;
    border: 3px solid #190f2e;
}

/* Scrollbar styles for body */
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #190f2e;
}

body::-webkit-scrollbar-thumb {
    background-color: #c884ff1a;
    border-radius: 20px;
    border: 2px solid #190f2e;
}

/* Стили для выпадающего списка */
.card select {
    padding: 8px;
    margin-left: 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #7db1ff85;
    background-color: #190f2e;
    color: #9cb6ff;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none;
}

/* Стили для опций в выпадающем списке */
.card select option {
    background-color: #190f2e;
    color: #9cb6ff;
    border-radius: 10px;
    border: 2px solid #7db1ff85;
}

/* Стили при наведении на опцию в выпадающем списке */
.card select option:hover {
    background-color: #190f2e;
    color: #9cb6ff;
}

.card {
    padding: 15px 25px;
    background: #190f2e;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 3px solid;
}

.ChangeThemeBlock {
    border-color: #7db1ff85;
    box-shadow: 0 0 50px #0099ff44;
    color: #7db1ff; 
}
.ChangeThemeBlock select{
    max-width: 25%;
}
.LinkBlock {
    border-color: #7db1ff85;
    box-shadow: 0 0 50px #0099ff44;
    color: #7db1ff;
}

a{
    text-decoration:underline;
    color: #a2c7ff;
}
a:hover {
    text-decoration:none;
}
a:active {
    color: #ffffff;
}
.CodeBlock {
    border-color: #ff009d73;
    box-shadow: 0 0 50px #ff002244;
    color: #cf2a90;
}
.OutputBlock {
    border-color: #00ff8873;
    box-shadow: 0 0 50px #00ff6244;
    color: #22c292;
}
.TheoryBlock {
    border-color: #cf39cf4f;
    box-shadow: 0 0 50px #d400ff44;
    color: #c462eb;
}
.CalculatorBlock {
    padding: 15px 25px;
    background: #190f2e;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 3px solid #cf39cf4f;
    box-shadow: 0 0 50px #d400ff44;
    color: #c462eb;
}

.CalculatorBlock h2 {
    color: #d15effdc;
}

.CalculatorBlock label {
    color: #da8df8dc;
}

.CalculatorBlock input {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #cf39cf4f;
    background-color: #190f2e;
    color: #b9b9b9;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none;
    margin-top: 10px;
}

.CalculatorBlock button {
    padding: 10px;
    border-radius: 10px;
    background-color: #190f2e;
    color: #da8df8dc;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    border: 2px solid #cf39cf4f;
    cursor: pointer;
    outline: none;
}

.CalculatorBlock button:hover {
    background-color: #321644;
}

/*.CalculatorBlock #result {
    color: #da8df8dc;
    background-color: #190f2e;
    border-radius: 10px;
    border: 2px solid #cf39cf4f;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    padding: 12px;
    box-sizing: border-box;
    min-width: 40%;
    min-height: 45px;
    max-width: max-content;
    text-align: left;
    text-wrap: wrap;
}*/

pre code.python {
    display: block;
    padding: 10px 30px;
    margin: 0;
    overflow-x: auto;
    border-radius: 10px;
    background-color: #0b061b;
    font-size: 17px;
    text-align: left;
}
pre code.hljs
{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #c7c7c7;
}
.debug code.hljs .hljs-number,
.debug code.hljs .hljs-bullet,
.debug code.hljs .hljs-symbol
{
    color: #c7c7c7 !important;
}

#FirstHeader {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.list {
    padding: 0 20px;
}

.list li {
    margin-bottom: 5px;
}

/* Table Styles */
.tablebox {
    overflow-x: auto;
}
.table {
    width: max-content;
    border-collapse: separate;
    border: 3px solid var(--table-outline);;
    border-radius: 15px;
    overflow: hidden;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #1d1d1d;
    font-size: 14px;
    color: #a78fe3;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    color: #9cb6ff;
}
.table tbody tr:nth-child(odd) {
    background: #2c2c2c;
}
.table tbody tr:nth-child(even) {
    background: #1d1d1d;
}
label{
    font-size: 1.3rem;
}
body {
    font-size: 1.2rem; /* 14px / 16px = 0.875rem */
}
h2 {
    font-size: 1.6rem;
}
h1{
    font-size: 2rem;
}
label{
    font-size: 1.3rem;
}
.CalculatorBlock label,
.card select,
.card select option,
.card select option:hover,
.CalculatorBlock input,
.CalculatorBlock button,
.CalculatorBlock #result,
pre code.python {
    font-size: 1rem;
}
/* Your media queries... */
@media screen and (max-width: 1200px) {
    body {
        font-size: 1.2rem; /* 14px / 16px = 0.875rem */
    }
    h2 {
        font-size: 1.6rem;
    }
    h1{
        font-size: 2rem;
    }
    label{
        font-size: 1.3rem;
    }
    .CalculatorBlock label,
    .card select,
    .card select option,
    .card select option:hover,
    .CalculatorBlock input,
    .CalculatorBlock button,
    .CalculatorBlock #result,
    pre code.python {
        font-size: 1rem;
    }
}

@media screen and (max-width: 998px) {
    body {
        font-size: 1.1rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h1{
        font-size: 1.9rem;
    }
    label{
        font-size: 1.3rem;
    }
    .CalculatorBlock label,
    .card select,
    .card select option,
    .card select option:hover,
    .CalculatorBlock input,
    .CalculatorBlock button,
    .CalculatorBlock #result,
    pre code.python {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h1{
        font-size: 1.7rem;
    }
    label{
        font-size: 1.2rem;
    }
    .CalculatorBlock label,
    .card select,
    .card select option,
    .card select option:hover,
    .CalculatorBlock input,
    .CalculatorBlock button,
    .CalculatorBlock #result,
    pre code.python {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 0.9rem; /* 12px / 16px = 0.75rem */
    }
    h2 {
        font-size: 1.1rem;
    }
    h1{
        font-size: 1.5rem;
    }
    label{
        font-size: 1.1rem;
    }
    .CalculatorBlock label,
    .card select,
    .card select option,
    .card select option:hover,
    .CalculatorBlock input,
    .CalculatorBlock button,
    .CalculatorBlock #result,
    pre code.python {
        font-size: 1rem;
    }
}


